.table-container {
  background-color: #fff;
  border-radius: 16px;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #4d007d;
  color: white;
}

th,
td {
  padding: 14px 12px;
  text-align: left;
  font-size: 14px;
}

tr {
  border-bottom: 1px solid #eee;
}

tr:last-child {
  border-bottom: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.action {
  font-size: 20px;
  /* cursor: pointer; */
}

.action {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 24px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 10;
  min-width: 120px;
}

.dropdown-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item.delete {
  color: red;
}

.full-page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.7); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 24px;
  color: #555;
  font-weight: 500;
}
